numpy
scipy
matplotlib
seaborn
pandas
tensorboardX
gym
http://download.pytorch.org/whl/cu80/torch-0.3.1-cp35-cp35m-linux_x86_64.whl
-e git+https://github.com/zafarali/mlresearchkit.git
-e git+https://github.com/zafarali/policy-gradient-methods.git
pytest==3.0.7